@charset "utf-8";

body {
	background-image: white;
}
h3 {
	color:#ffffff;
	text-align:center;
	font-family:"Times New Roman", serif;
	font-size: 50px;
}
h1, h2{
    color: black;
    display: block;
    padding: 0;
    text-align:center;
	font-family:"Century Schoolbook", serif;
	font-size: 30px;
}
h4,h5,h6,p {
	color: black;
	text-align:center;
	font-family:"Helvetica", sans-serif;
}

form.loginForm {
	text-align:center;
	padding:10px;
	width: 350px;
	border-radius: 50px;
	border: 5px solid grey;
	padding: 40px;
	margin: 0 auto;
	background-color:#E6E0E0
}

label[for=password],label[for=username] {
	color:#000000;
	width:75px;
	display: inline-block;
	text-align:right;
	font-family:"Helvetica", sans-serif;
	padding:15px;
}

input.password, input.username {
	width:200px;
	padding:1px;
	margin:5px;
}
/* vFor the Bannerv */
#banner {
	margin:auto;
 height: 80px;
 border-bottom: 2px solid black;
}
#tabs {
    margin: auto;
    list-style-type: none;
    text-align: center;
    padding: 35px 0 0 0;
    width: 900px;
    height: 40px;
    color: black;
}
#banner li{
    display: inline-block;
    padding: 0 25px 0 25px;
    height: 0%;
    margin: 0 auto;
    color: black;
}
#banner li a{
    text-decoration: none;
    font-size: 20px;
    font-family:"Century Schoolbook", serif;
    color: black;
}
#LogoutButton{
  text-align: center;
	width: 100px;
	height: 50px;
	color: black;
	float: right;
}
/* ^For the Banner^ */
/* vFor the Chatv */
#chatHeader {
    /*background:darkblue;*/
	text-decoration: underline;
	text-decoration-color:black;
}
.chatElements{
    padding-top: 50px;
    width: 1100px;
    height: 500px;
    margin: 0 auto;
}
.chatting{
    width: 600px;
    float: right;
    margin-right: auto;
}
.userlist{
    height: 500px;
    width: 400px;
    float: left;
    border:3px solid black;
    overflow:auto;
    background-color: #D8E7E7;
    margin-left:auto;
}
.chatWindow{
    border:3px solid black;
    height:450px;
    padding:5px;
    overflow:auto;
	  width: 600px;
    background-color: #D8E7E7;
}
.sendMessage{
    border:3px solid black;
    display:flex;
    justify-content: center;
    width: 600px;
}
.message {
    height:30px;
    width:500px;
    margin-right:10px;
}
.sendButton {
    width: 80px;
    background-color:dodgerblue;
}
.incomingMessage{
	margin-top:10px;
}
.outgoingMessage {
	margin-top:10px;
}
.myMessage{
	float:right;
	background:deepskyblue;
  border-radius: 15px 0 0 15px;
  font-weight: bold;
	padding:10px;
}
.othersMessage{
	float:left;
	background:#FFFFFF;
  border-radius: 0 15px 15px 0;
  font-weight: bold;
	padding:10px;
}
.spacing {
	width: 100%;
	height: 8px;
	float:left;
}
.chatusers{
  width:400px;
  height: 50px;
  display: block;
  margin: 0 auto;
  border: none;
  font-size: 20px;
  background-color: #D8E7E7;
}
/* ^For the Chat^ */
a.returnButton {
	text-align: center;
	color: white;
	display:block;
	margin: 0 auto;
}
/* vFor the Search Pagev */
#searchOptions {
	text-align:center;
	padding:10px;
	width: 700px;
	border-radius: 50px;
	border: 5px solid grey;
	padding: 40px;
	margin: 0 auto;
	background-color:#E6E0E0;
	display:block;
}
#radioButtons{
	display: block;
	width: 300px;
	text-align: center;
	margin-left: 220px;;
	padding-bottom: 10px;
}
.search{
	display: block;
  padding-top: 20px;
  margin-left: 45%
}
.searchField{
	width: 300px;
}
label[for=title], label[for=ingredients], label[for=tagSelect], label[for=searchField] {
    display: inline-block;
    width:75px;
    text-align: right;
}
.tagSelect{
  width: 310px;
  margin-left: 20%;
}
.searchB{
  margin-left: 150px;
  width: 100px;
}
#results{
	padding-top: 50px;
	text-align: center;
}
.res{
	background-color:lightgray;
	width: 600px;
	padding-bottom:20px;
	border: 5px solid gray;
	margin: 0 auto;
	display:block;
	border-radius:50px;
	font-size:20px;
}
.searchSpace
{
	width: 600px;
	margin: 0 auto;
	display:block;
  	height: 10px;
}
/* ^For the Search Page^ */
.postComments{
	width:900px;
	border:5px solid black;
	margin:0 auto;
}
.post{
	float:left;
	text-align:center;
	border:5px solid black;
	height: 400px;
	width: 400px;
	overflow:auto;
}
.comments{
	float:right;
	text-align:center;
	border:5px solid black;
	height: 400px;
	width: 400px;
	overflow:auto;
}
.addComment{
	display:flex;
	position: fixed;
	left: 50%;
	bottom: 20px;
	transform: translate(-50%, -50%);
	margin: 0 auto;
}
.writeComment{
	width: 400px;
}
.userPostLink{
	font-size:30px;
	background-color:white;
	text-align:center;
	width: 400px;
	margin: 0 auto;
}
/*vFor the Chatv*/
.tabs {
	text-align:center;
	padding:10px;
	width: 700px;
	border-radius: 50px;
	border: 5px solid grey;
	padding: 40px;
	margin: 0 auto;
	background-color:#E6E0E0;
	display:block;
}
/*.tabOptions{

}*/
.selection{
  display: inline-block;
  font-size: 25px;
  width: 220px;
  height: 50px;
  border-width: 4px;
  background: #E6E0E0;
}
.selection-active{
  border-bottom: none;
}
.tabContent{
  display:none;
}
.tab-active{
  display:block;
}
.otherUserOptions{
  display: block;
  margin: 0 auto;
  width: 500px;

}
.otherUserButton{
    height: 30px;
    width: 248px;
}
#follow{
	border-radius: 5px;
	background-color: #84bde1;
	color: white;
	font-size: 20px;
}
#addFriend{
	border-radius: 5px;
	background-color: #84bde1;
	color: white;
	font-size: 20px;
}
.friendRequest{
	font-size: 25px;
	font-family:"Century Schoolbook", serif;
	font-weight: bold;
	padding: 5px;
}
.acceptFriend{
	float: right;
	margin-right: 15px;
	width: 60px;
	font-weight: 1000;
	font-size: 20px;
	text-align:center;
	height: 30px;
	color: green;
}
.declineFriend{
	float: right;
	width: 60px;
	height: 30px;
	font-size: 15px;
	margin-right: 180px;
}
.followingUser{
  font-size: 25px;
	font-family:"Century Schoolbook", serif;
	font-weight: bold;
	padding: 5px;
}
.unfollowButton{
	float: right;
	width: 120px;
	height: 30px;
	font-size: 20px;
	margin-right: 180px;
}
.unfollowSymbol{
  color: red;
  font-size: 20px;
}
.friendList{
  font-size: 25px;
	font-family:"Century Schoolbook", serif;
	font-weight: bold;
	padding: 5px;
}
.unfriendButton{
	float: right;
	width: 190px;
	height: 30px;
	font-size: 20px;
	margin-right: 110px;
}