@charset "utf-8";

body {
	background-image: linear-gradient(to right, #183397, #AEB3C2);
}

h1,h2,h3 {
	color:#ffffff;
	text-align:center;
	font-family:"Times New Roman", serif;
	font-size: 50px;
}

h4,h5,h6,p {
	color:#ffffff;
	text-align:center;
	font-family:"Helvetica", sans-serif;
}

form.loginForm {
	text-align:center;
	padding:10px;
	width: 350px;
	border-radius: 50px;
	border: 5px solid grey;
	padding: 40px;
	margin: 0 auto;
	background-color:#E6E0E0

}

label[for=password],label[for=username] {
	color:#000000;
	width:75px;
	display: inline-block;
	text-align:right;
	font-family:"Helvetica", sans-serif;
	padding:15px;
}

input.password, input.username {
	width:200px;
	padding:1px;
	margin:5px;
}

input[type=submit] {
	width:100px;
}

#banner {
	background-color:white;
	margin:auto;
}
#MessageButton {
	text-align: center;
	width: 100px;
	height: 50px;
	color: blue;
	float: left;
}
#SearchButton {
	text-align: center;
	width: 100px;
	height: 50px;
	color: blue;
	float: right;
}

#chatHeader {
    /*background:darkblue;*/
	text-decoration: underline;
	text-decoration-color:darkblue;
}

.chatWindow {
    height:400px;
    padding:5px;
    overflow:auto;
	width: 700px;
	display:block;
	margin-left: auto;
	margin-right:auto;
}
.sendMessage{
    display:flex;
    justify-content: center
}
.message {
    height:30px;
    width:600px;
    margin-right:10px;
}
.sendButton {
    width: 80px;
    background-color:dodgerblue;
}
.incomingMessage{
	margin-top:10px;
}
.outgoingMessage {
	margin-top:10px;
}
.myMessage{
	float:right;
	background:deepskyblue;
	padding:5px;
}
.othersMessage{
	float:left;
	background:gainsboro;
	padding:5px;
}
.spacing {
	width: 100%;
	height: 8px;
	float:left;
}
.searchUsers {
    display:flex;
    justify-content: center
}
.usernameSearch {
    height:30px;
    width:300px;
    margin-right:10px;
}
a.returnButton {
	text-align: center;
	color: white;
	display:block;
	margin: 0 auto;
}
#searchOptions {
	text-align:center;
	padding:10px;
	width: 600px;
	border-radius: 50px;
	border: 5px solid grey;
	padding: 40px;
	margin: 0 auto;
	background-color:#E6E0E0;
	display:block;
}
#radioButtons{
	display: block;
	text-align: right;
	margin-left: 60%;
	padding-bottom: 10px;
}
#search{
	display: block;
	margin-left: 30%
}
#searchField{
	width: 300px;
}
#results{
	padding-top: 50px;
	text-align: center;
}
.res{
	background-color:lightgray;
	width: 600px;
	padding-bottom:20px;
	border: 5px solid gray;
	margin: 0 auto;
	display:block;
	border-radius:50px;
	font-size:20px;
}
.searchSpace
{
	width: 600px;
	margin: 0 auto;
	display:block;
  	height: 10px;
}
.postComments{
	width:900px;
	border:5px solid black;
	margin:0 auto;
}
.post{
	float:left;
	text-align:center;
	border:5px solid black;
	height: 400px;
	width: 400px;
	overflow:auto;
}
.comments{
	float:right;
	text-align:center;
	border:5px solid black;
	height: 400px;
	width: 400px;
	overflow:auto;
}
.addComment{
	display:flex;
	position: fixed;
	left: 50%;
	bottom: 20px;
	transform: translate(-50%, -50%);
	margin: 0 auto;
}
.writeComment{
	width: 400px;
}